<!DOCTYPE html>
<html>

{{> header}}

<head>
    <title>
        {{title}}
    </title>
</head>

<body>
    <div class="main-content">
        <h2>{{errMsg}}</h2>
    </div>
</body>

{{> footer}}

</html>