<!DOCTYPE html>


<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/weather-icon.png">
</head>

{{> header}}

<body>
    <div class="main-content">
        <img class="portrait" src="/img/java.gif">
    </div>
</body>

{{> footer}}

</html>