<!DOCTYPE html>

<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/weather-icon.png">
</head>

{{> header}}

<body>
    <div class="main-content">
        <h5>
            {{message}}
        </h5>
    </div>
</body>

{{> footer}}

</html>