<!DOCTYPE html>

<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/weather-icon.png">
</head>

{{> header}}

<body>
    <div class="main-content">
        <p>Here you get weather forecast</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    <script src="/js/app.js"></script>
</body>

{{> footer}}

</html>